[Unit]
Description=Barrier that triggers report services
DefaultDependencies=no

Requires=sev-certificate-generator.service
After=sev-certificate-generator.service

[Service]
Type=oneshot
ExecStart=/usr/bin/true
RemainAfterExit=yes

[Install]
WantedBy=report.target
